<ion-view view-title="About">
    <ion-nav-buttons side="left">
      <button menu-toggle="left" class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
    </ion-nav-buttons>
  <ion-content>
    <div class="list card">

  <div class="item item-avatar">
    <img src="img/galvanize.png">
    <h2>Created By:</h2>
    <p>Joseph Tongay && Frank Gonzalez</p>
  </div>

  <div class="item item-body">
    <img class="full-image" src="img/Raspberry_Pi_Logo.svg.png">
    <p>
      This is the controller app to turn your dumb-tv into a smart-tv! Just go to
      <a href="https://github.com/JTongay/q3-smart-tv">Our Github Repo</a> for complete instructions.
    </p>
  </div>

</div>
  </ion-content>
</ion-view>
