<!-- <ion-view view-title="Content">
  <ion-content>
    <h1>stuff</h1>
  </ion-content>
</ion-view> -->
<ion-view view-title="Search" ng-controller="vidSearch">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon button-clear ion-navicon" ng-click="openMenu()"></button>
  </ion-nav-buttons>
  <ion-content padding="true">
    <h1 style="text-align: center;">Search YouTube</h1>
    <div class="list list-inset">
      <label class="item item-input">
    <i class="icon ion-search placeholder-icon"></i>
    <input type="text" ng-model="search.query" placeholder="What's on your mind?">
      </label>
    </div>
    <button class="button button-block button-positive" ng-click="search.getVideos(search.query)">
  Search
  </button>
  <div class="" ng-repeat="result in search.results">
    <h3>{{result.videoId}}</h3>
  </div>
  </ion-content>
</ion-view>
